* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #000;
  padding-bottom: 100px;
}

.brand {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  font-size: large;
  padding: 0.60em;
}

nav {
  background-color: #444;
}

nav ul {
  position: relative;
  list-style-type: none;
  width: 100%;
  text-align: center;
}

nav ul li:first-child {
  border-left: 1px solid #fff;
}

nav li {
  display: inline-block;
  border-right: 1px solid #fff;
}

nav a {
  display: inline-block;
  margin: 0.8em;
  min-width: 6em;
}

nav a:hover, nav a:link, nav a:visited, nav a:active {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.wrap { 
  margin: 0 auto;
  width: 800px;
}

.wrap ul, .wrap ol {
  margin: 0 2.6em;
}

a:hover, a:link, a:visited, a:active {
  color: #000;
}

h1, h2, h3, h4, h5 {
  margin-top: 1em;
}

p {
  margin: 1em;
}

pre {
  margin: 2em;
  padding: 1em;
  border-left: 3px solid #777;
  background-color: #eee;
}
